
    <div>
    <h2>Sprwadź linki:</h2>
    <form class="new-form">
      <mat-form-field>
        <textarea matInput [(ngModel)]="links" name="linksForm"  placeholder=""></textarea>
      </mat-form-field>
      <button mat-button (click)="checkLinks()">Check links</button>


      <mat-tab-group>
        <mat-tab label="Pliki do pobrania:">
          <div *ngIf="linkData!=null">
            <mat-card *ngFor="let link of linkData.linkDTOList">
              <div *ngIf="link.status===false">
                Wystąpił błąd nie można pobrać linku  <span  class="glyphicon glyphicon glyphicon-exclamation-sign" aria-hidden="true"> {{link.link}}</span>
              </div>
              <div *ngIf="link.status===true">
                Name: {{link.fileName}} Size: {{link.fileSize}}
                <span   class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <button  color="primary"  mat-button (click)="download(link)">
                  <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                </button>
              </div>
            </mat-card>
          </div>

        </mat-tab>
        <mat-tab label="W trakcie:">
          <div>


            <mat-card *ngFor="let current of downloadData.data">
              Progress:
              {{current.id}}
              <mat-progress-bar mode="determinate"
                                [value]="current.percentComplete"> </mat-progress-bar>

            </mat-card>


          </div>
        </mat-tab>
        <mat-tab label="Pobrane pliki:">
          <div>

          <mat-card *ngFor="let data of downloadDataFinished.data">
            Finished:
            {{data.id}}
            {{data.message}}

          </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>

<app-server-status>

</app-server-status>

    </form>
    </div>


