
<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Login" [(ngModel)]="username"  value="" name="username">
      </mat-form-field>

      <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="password"  value="" type="password" name="password">
        </mat-form-field>
        <button mat-button (click)="login()">Login!</button>
    </form>

    <button mat-button (click)="login()">Forgot password?</button>
</mat-grid-tile>

</mat-grid-list>
