<!--The content below is only a placeholder and can be replaced.-->

<!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">Home</button>
  <button mat-menu-item routerLink="/login">About</button>
</mat-menu> -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- <div style="position:absolute;top:0;left:0;right:0;bottom:0;"> -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
<mat-toolbar class="mat-primary">
 
 
      <button mat-button routerLink=""  aria-label="Home"  >
          <mat-icon>home</mat-icon>
          Home
      </button>

      <button mat-button routerLink="login" aria-label="Settings" *ngIf="!auth.loggedIn">
        <mat-icon>user</mat-icon>
          Login
      </button>

      <button mat-button routerLink="singup" aria-label="More"  *ngIf="!auth.loggedIn">
        <mat-icon>user</mat-icon>
        Sing up
      </button>

  <button mat-button routerLink="help" aria-label="More"  *ngIf="!auth.loggedIn">
    <mat-icon>sing up</mat-icon>
    Help
  </button>
  <button mat-button routerLink="download" aria-label="More"  *ngIf="auth.loggedIn">
    <mat-icon>sing up</mat-icon>
    Download1
  </button>
  <button mat-button routerLink="" aria-label="More"  *ngIf="auth.loggedIn"  (click)="auth.singout()">
    <mat-icon>sing up</mat-icon>
    Sing out!
  </button>
 
</mat-toolbar>

</div>
    </nav>
<!-- </div> -->
<div class="container-fluid main-container" md-row-height="fit">
<router-outlet></router-outlet>
</div>




