<div class="row" style="margin-top:100px;">
    <mat-card>
        
    <form class="example-form" class="center-block">
      <mat-form-field class="field">
          <input matInput placeholder="Email" [(ngModel)]="email" value="" name="email">
        </mat-form-field>  

      <mat-form-field class="field">
          <input matInput placeholder="Password" [(ngModel)]="password" name="password" value="">
        </mat-form-field>  

        <mat-form-field class="field">
            <input matInput placeholder="Username" [(ngModel)]="username" value="" name="username">
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>  
     
            
          <button mat-button (click)="checkLogIn()">Sing up!</button>
  </form>
    </mat-card>
        </div>
    
